<!DOCTYPE html>
<html Long="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-escale=1.0">
    <title> Login </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="form-image">
            <img src="img/img2.png">
        </div>
        <div class="form">
            <form action="#">
                <div class="form-header">
                    <div class="title">
                        <h1>Entre na conta</h1>
                    </div>
                </div>
                <div class="input-box">
                    <label for="e-mail">E-mail</label>
                    <input id="e-mail" type="text" placeholder="Digite o e-mail" required>
                </div>
                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="password" type="password" placeholder="Digite a senha" required>
                </div>
                <div class="continue-button">
                    <button><a href="#">Entrar</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
